body{
    background-color: #fffff0;
}

body, html{
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

#menuBar{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 60;
    background-color: #333;
}

#menuBar a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#menuBar a.active {
    background-color: #FF6B6B;
    color: white;
}

#menuBar a:hover {
    background-color: #FF8A7A;
}

